.FormMain
  .FormBox
    = form_with model: @delivery_destination, local: true do |f|
      .FormBox__title
        %h2{class: "delivery_title"} 配送先住所登録
      .FormBox__field
        .kanaBox
          .familyNameKana
            = f.label :name, "苗字"
            %span{class: "require"} 必須
            = f.text_field :family_name, class: 'form half_form', placeholder: '例：山田'
          .firstNameKana
            = f.label :name, "名前"
            %span{class: "require"} 必須
            = f.text_field :first_name, class: 'form half_form', placeholder: '例：太郎'
      .FormBox__field
        .kanaBox
          .familyNameKana
            = f.label :name, "苗字カナ"
            %span{class: "require"} 必須
            = f.text_field :family_name_kana, class: 'form half_form', placeholder: '例：ヤマダ'
          .firstNameKana
            = f.label :name, "名前カナ"
            %span{class: "require"} 必須
            = f.text_field :first_name_kana, class: 'form half_form', placeholder: '例：タロウ'
      .FormBox__field
        郵便番号
        %span{class: "require"} 必須
        = f.text_field :post_code, class: 'form', placeholder: '例:1010000(-なしで入力)'
      .FormBox__field
        .kanaBox
          .familyNameKana
            = f.label :name, "都道府県"
            %span{class: "require"} 必須
            = f.select :prefecture, DeliveryDestination.prefectures.keys.map {|k| [I18n.t("enums.delivery_destination.prefecture.#{k}"), k]}, {}, { class: "form half_form"}
          .firstNameKana
            = f.label :name, "市区町村"
            %span{class: "require"} 必須
            = f.text_field :city, class: 'form half_form', placeholder: '例：新宿区'
      .FormBox__field
        .kanaBox
          .familyNameKana
            = f.label :name, "番地"
            %span{class: "require"} 必須
            = f.text_field :address, class: 'form half_form', placeholder: '例：歌舞伎町◯丁目◯-◯'
          .firstNameKana
            = f.label :name, "建物名・号室"
            = f.text_field :buiding_name, class: 'form half_form', placeholder: '例：フリママンション101'
      .FormBox__field
        = f.label :name, "電話番号"
        %span{class: "require"} 必須
        = f.text_field :phone_number, class: 'form', placeholder: '例：09022221111(-なしで入力)'
      .FormBox__btn
        = f.submit value: '登録', class: 'signupBtn'
