.Pay_main
  .Pay_main__box
    %p{class: "pay_question pay_content"} 購入を確定しますか？
    %p{class: "product_name pay_content"} 
      = @product.name
    %p{class: "product_price pay_content"} 
      = @product.price
    %br
    %p{class: "pay_title pay_content"} 支払い方法
    - if @default_card_information.blank?
      %br /
    - else
      -#以下カード情報を表示
      .card_infomation
        = "**** **** **** " + @default_card_information.last4
        - exp_month = @default_card_information.exp_month.to_s
        - exp_year = @default_card_information.exp_year.to_s.slice(2,3)
        = exp_month + " / " + exp_year
    %br
    = form_tag(action: :pay, method: :post) do
      %button{class: "pay_btn"} 購入する