%link{:href => "show.scss", :rel => "stylesheet"}/
%body
  .MainWrapper
    .MainContainer
      .Information
        マイページ
      .SecondaryContent
        .userName
          = @nickname
      .userBox
        .userBox__content
          .deliveryBar
            %p 配送先住所
            - if @delivery == nil
              = link_to "配送先住所の登録", new_delivery_destination_path, class: 'deliveryInfo'
            - else
              = link_to "配送先住所の編集", edit_delivery_destination_path(current_user.id), class: 'deliveryInfo'
          .addressBar
            - unless @delivery == nil
              .userBox__content--info
                = @delivery.prefecture_i18n
                = @delivery.city
                = @delivery.address
                = @delivery.buiding_name
        .userBox__content
          出品商品履歴
          - @products.each do |product|
            .productBar
              .productBar__name
                = product.name
              .productBar__info
                = link_to "詳細", product_path(product.id)
      .cardBox
        .cardPages
          = link_to "クレジットカードの登録", new_credit_card_path, data: {"turbolinks" => false}
        .cardPages
          = link_to "クレジットカードの削除", credit_cards_path
