.signinHeader
  = link_to image_tag("logo/logo.png"), root_path
.signinMain
  %h2 ログインはこちら
  .signinForm
    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      .field
      = f.label :email, "メールアドレス："
      = f.email_field :email, autofocus: true, autocomplete: "email", class: "signinField"
      .field
      = f.label :email, "パスワード："
      = f.password_field :password, autocomplete: "current-password", class: "signinField"
      .field
      = f.submit "ログイン", class: "signinBtn"
  .signinNew
    =link_to "新規会員登録", new_user_registration_path, method: :get, class: "new_account"
