= render "layouts/header"
.main
  .sell_wrapper
    = form_with model: @product, url:products_path do |f|
      .form-field
        = f.label :name, "出品画像"
        %span 必須
        .infomation 最大10枚までアップロードできます
        .img_zone
        = f.fields_for :product_imgs do |image|
          .dropzone-container.clearfix
            #preview
            .dropzone-area
              = image.label :image, class: "dropzone-box", for: "upload-image" do
                .input_area
                  = fa_icon 'camera'
                  = image.file_field :image, id: "upload-image", class: "upload-image", 'data-image': 0
                %p ドラッグアンドドロップ
            #preview2
            .dropzone-area2
              = image.label :image, class: "dropzone-box", for: "upload-image" do
                %p またはクリックしてファイルをアップロード
      .form-field
        = f.label :name, "商品名"
        %span 必須
        = f.text_field :name, placeholder: "商品名 (必須40文字まで)", id: "productr_name", class: "textform_bl"
      .form-field
        = f.label :name, "商品説明"
        %span 必須
        = f.text_area :description, size: "73x7", placeholder: "商品の説明（必須1,000文字以内 (色、素材、重さ、定価、注意点など)", id: "product_introduction", class: "textarea_bl"
      .product-info
      %h2 商品の詳細
      .form-field
        = f.label :name, "カテゴリー"
        %span 必須
      .categoly_form#partent_box
        = f.select :category_id, options_for_select( @category_parent_array.map{|c| [c[:name], c[:id]]}),{include_blank: "選択してください"}, { class: "parent_category_box", id: "parent_category"}
        = fa_icon 'chevron-down'
      #children_box
      #grandchildren_box
      .form-field
        = f.label :name, "商品サイズ"
        %span 必須
        = f.text_field :size, placeholder:"サイズを入力してください", class: "textform_bl"
      .form-field
        = f.label :name, "ブランド"
        = f.fields_for :brands, {} do |b|
          = b.text_field :name, {}
      .form-field
        = f.label :name, "商品の状態"
        %span 必須
        = f.select  :condition, Product.conditions.keys.map {|k| [I18n.t("enums.product.condition.#{k}"), k]}
      .shipping-info
      %h2 配送について
      .form-field
        = f.label :name, "配送料の負担"
        %span 必須
        = f.select :shipping_cost, Product.shipping_costs.keys.map {|k| [I18n.t("enums.product.shipping_cost.#{k}"), k]}, {}
      .form-field
        = f.label :name, "発送元の地域"
        %span 必須
        = f.collection_select :prefecture, JpPrefecture::Prefecture.all, :code, :name, prompt:"---"
      .form-field
        = f.label :name, "発送までの日数"
        %span 必須
        = f.select :shipping_days,Product.shipping_days.keys.map {|k| [I18n.t("enums.product.shipping_days.#{k}"), k]}
      .price-info
      %h2 価格（¥300〜9,999,999）
      .form-field
        = f.label :name, "価格"
        %span 必須
        %span ¥
        = f.text_field :price, id: "pricebox", placeholder: "例） 300", class: "textform_bl"
      .notice
        販売手数料（10%）
      .caution
        .exhibit__text
          = link_to("禁止されている出品", "＃")
          、
          = link_to("行為", "＃")
          を必ずご確認ください。
          %br
          またブランド品でシリアルナンバー等がある場合はご記載ください。
          = link_to("偽ブランドの販売", "＃")
          は犯罪であり処罰される可能性があります。
          %br
          また、出品をもちまして
          = link_to("加盟店規約", "＃")
          に同意したことになります。
        .exhibit__btn
          = f.submit :出品する,id: "btn", class: "super_btn", data: {"turbolinks"=>false}
        .exhibit__return
          = link_to "もどる", root_path
= render "layouts/appBanner"
= render "layouts/no-purchase-footer"
