= render "layouts/header"
.main
  .showMain
    .contentRight
      .topContent
        .itemBox
          %h2.itemBox__name
            = @product.name
          .itemBox__body
            %ul
              %li
                = image_tag 'pict/no-image-available.jpg'
                %ul
                  %li
                    = image_tag 'pict/no-image-available.jpg'
          .itemBox__price
            %span
              = "#{@product.price}円"
            .itemBox__price-detail
              %span
                (税込)
              %span
                送料込み
          .itemDetail
            = @product.description
          .table
            %table
              %tbody
                %tr
                  %th 出品者
                  %td
                    = @product.user_id
                %tr
                  %th カテゴリー
                  %td
                    = link_to "レディース", "#"
                    %br/
                    = link_to "トップス", "#"
                    %br/
                    = link_to "Tシャツ/カットソー(半袖/袖なし)", "#"
                %tr
                  %th ブランド
                  %td
                    = @product.brand_id
                %tr
                  %th 商品のサイズ
                  %td
                    = @product.size
                %tr
                  %th 商品の状態
                  %td
                    = @product.condition
                %tr
                  %th 配送料の負担
                  %td
                    = @product.shipping_cost
                %tr
                  %th 発送元の地域
                  %td
                    = @product.prefecture
                %tr
                  %th 発送日の目安
                  %td
                    = @product.shipping_days
      %ul.links
        %li
          = link_to "前の商品", "#"
        %li
          = link_to "後ろの商品", "#"
      .relatedItems
        = link_to "レディースをもっと見る", "#"
        .ProductLists-des
          .productList
            = link_to "/products/1" do
              %figure.productList--img
                = image_tag 'pict/no-image-available.jpg'
              .productList--body
                %h3.name product1
                .details
                  %ul
                    %li 10000円
                  %p (税込)
= render "layouts/appBanner"
= render "layouts/footer"
