.main
  .showMain
    .contentRight
      .topContent
        .itemBox
          %h2.itemBox__name
            = @product.name
          .itemBox__body
            %ul
              %li
                = image_tag @product_img.image_url
                %ul
                  - @product.product_imgs.each do |product_img|
                    %li
                      = image_tag product_img.image_url
          .itemBox__price
            %span
              = "#{@product.price}円"
            .itemBox__price-detail
              %span
                (税込)
              %span
                送料込み
          .itemDetail
            = @product.description
          .table
            %table
              %tbody
                %tr
                  %th 出品者
                  %td
                    = @product.user.nickname
                %tr
                  %th カテゴリー
                  %td
                    = link_to "#{@product.category.parent.parent.name}", root_path
                    %br
                    = link_to "#{@product.category.parent.name}", root_path
                    %br
                    = link_to "#{@product.category.name}", root_path
                    %br
                %tr
                  %th ブランド
                  %td
                    = @brand.name
                %tr
                  %th 商品のサイズ
                  %td
                    = @product.size
                %trv
                  %th 商品の状態
                  %td
                    = @product.condition_i18n
                %tr
                  %th 配送料の負担
                  %td
                    = @product.shipping_cost_i18n
                %tr
                  %th 発送元の地域
                  %td
                    = @product.prefecture_i18n
                %tr
                  %th 発送日の目安
                  %td
                    = @product.shipping_days_i18n
      %ul.links
        %li
          - if @product.previous.present?
            = link_to product_path(@product.previous) do
              = "前の商品"
        %li
          - if @product.next.present?
            = link_to product_path(@product.next) do
              = "次の商品"
      - if user_signed_in? && current_user.id != @product.user_id
        .buy_box
          = link_to "購入する", product_credit_card_path(@product.id), class: "buy_btn"
      - elsif user_signed_in? && current_user.id == @product.user_id
        .edit_box
          = link_to "出品情報を編集する", edit_product_path, class: "edit_btn"
        .edit_box
          = link_to '削除', product_path(@product.id), method: :delete, class: "delete_btn"
      - else
        .buy_box
          = "商品を購入するにはユーザーログインが必要です。"

= render "layouts/appBanner"
