!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title FleamarketSample80b
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application'
    -# = javascript_pack_tag 'application'（webpackerを使うならこれ。JSファイル全てをpacksディレクトリに移動jQuelyが使えない）
    %script{src: "https://js.pay.jp/v1/", type: "text/javascript"}
  %body
    = render 'layouts/notifications'
    = render "layouts/header"
    = yield
    = render "layouts/footer"
